*.pyc
*.swp
.coverage
.vagrant
bashlex/parser.out
bashlex/parsetab.py

build/
dist/
bashlex.egg-info/
.vscode/

# Test case
module-dev/subgraph/testcase/*

# Settint for the application
virus_analysis_app/dev/*
virus_analysis_app/0_data/*
virus_analysis_app/dataset/*
virus_analysis_app/include/*.db
virus_analysis_app/include/*.json
virus_analysis_app/.cache
