<?xml version = "1.0"?>
<AppData title ="Scripts Analyzer">
  <!-- screenTitle is also used to identify you and your animation. 
     So make sure to include your name as part of the screenTitle -->
<font>
  <small type="Arial" size="8"/>
  <mid type="Arial" size="10"/>
  <large type="Arial" size="12"/>
</font>

<path>
  <dataset>
    <nodeinfo>nodeData/</nodeinfo>
  </dataset>
  <output>
    <graphdot>.cache/graph</graphdot>
    <graphpdf>.cache/graph</graphpdf>
    <export>.cache/</export>
    <database>.cache/</database>
    <cmapf>.cache/command_to_file.json</cmapf>
  </output>
</path>

<userconfig>
  <databasepath>script_manager.db</databasepath>
  <repoinfo>user_config.json</repoinfo>
</userconfig>

<default>
  <repo>BashScript</repo>
  <path>dataset/bashData/allscripts/</path>
  <repoinfo>user_config.json</repoinfo>
</default>

<testrepo>
  <name>BashScript</name>
  <path>dataset/bashData/allscripts/</path>
  <nodeinfo>dataset/nodeData/</nodeinfo>
  <repoinfo>user_config.json</repoinfo>
</testrepo>

<normalscriptrepo>
  <name>NormalBashScript</name>
  <path>normal-dataset/bashData/allscripts/</path>
  <nodeinfo>normal-dataset/nodeData/</nodeinfo>
  <repoinfo>user_config.json</repoinfo>
</normalscriptrepo>

<menuBar>
  <file title="File">
    <newRepo>New Repository</newRepo>
    <openRepo>Open Repository...</openRepo>
    <deleteRepo>Delete Repository...</deleteRepo>
    <update>Update Repo Data</update>
    <export>Export to JSON</export>
  </file>
  <tools title="Tools">
    <generatepdf>Generate All Commands Graph</generatepdf>
    <generatedot>Generate All Commands Dot</generatedot>
    <updatescriptstags>Update Scripts Property</updatescriptstags>
    <updatescripts>Update Scripts Info</updatescripts>
  </tools>
  <edit>
    <editInfo>Edit Infomation</editInfo>
  </edit>
  <help title="Help">
    <intro>Welcome</intro>
    <about>About</about>
  </help>
</menuBar>
</AppData>
