<?xml version = "1.0"?>
<AppData title ="Scripts Analyzer">
  <!-- screenTitle is also used to identify you and your animation. 
     So make sure to include your name as part of the screenTitle -->
<font>
  <small type="Arial" size="8"/>
  <mid type="Arial" size="10"/>
  <large type="Arial" size="12"/>
</font>

<path>
  <dataset>
    <nodeinfo>dataset/nodeData/</nodeinfo>
  </dataset>
  <output>
    <graphdot>.cache/graph</graphdot>
    <graphpdf>.cache/graph</graphpdf>
  </output>
</path>

<menuBar>
  <file title="File">
    <newRepo>New Repository</newRepo>
    <openRepo>Open Repository...</openRepo>
    <deleteRepo>Delete Repository...</deleteRepo>
    <update>Update Repo Data</update>
  </file>
  <tools title="Tools">
    <generatepdf>Generate All Commands Graph</generatepdf>
    <generatedot>Generate All Commands Dot</generatedot>
    <updatescripts>Update Scripts Info</updatescripts>
  </tools>
  <edit>
    <editInfo>Edit Infomation</editInfo>
  </edit>
  <help title="Help">
    <intro>Welcome</intro>
    <about>About</about>
  </help>
</menuBar>
</AppData>
